body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    margin: auto;
    background: #cdcece;
    width: 400px;
    border-radius: 5px;
}